<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Admin</a>
        <ul class="nav">
          <li><a href="#">Menu items</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container master-container">

    <% if notice %>
      <div class="alert alert-success" data-alert="alert">
        <p><%= notice %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>
  <footer class="container">
  </footer>
</body>
</html>
